<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="smtpServer" value="smtp.gmail.com" />
		<add key="smtpUsername" value="carillo.aaronjoseph@gmail.com" />
		<add key="smtpPassword" value="goufkxzyggdcznsp" />
		
		<add key="mailFrom" value="carillo.aaronjoseph@gmail.com" />
		<add key="mailTo" value="fernandez.norvin01@gmail.com aaronjoseph.carillo@my.jru.edu" />
		<add key="mailCc" value="" />
		
		<add key="connectionString" value="Data Source=LAPTOP-F2U9549V\SERVICESERVER;Initial Catalog=ServiceDB;User ID=sa2;Password=123"></add>
	</appSettings>
</configuration>