@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

.bgcolor {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", sans-serif;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: currentColor;
}

    a:hover {
        color: currentColor;
    }

header {
    width: 100vw;
    height: 100px;
    background-color: #24252A;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    display: flex;
    align-items: center;
    font-family: 'Trebuchet MS', sans-serif;
}

    header .container-fluid {
        width: 100%;
        padding: 0 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

@media(max-width:992px) {

    header .container-fluid {
        padding: 0 5%;
    }
}

header .navb-name {
    font-size: 30px;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

header .navb-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;
}

header .menu-item {
    text-align: center;
    margin-inline: 15%;
    font-size: 20px;
    letter-spacing: 3px;
    color: #102447;
    padding: 5px 0;
    transition: all .1s ease;
    border-bottom: 0px solid #64d6f4;
    border-top: 0px solid #64d6f4;
    cursor: pointer;
}

    header .menu-item .navbar.active, .navbar:hover {
        transition: opacity 0.5s ease-in-out;
        transition-delay: 1s;
        border-bottom: 3px solid #64d6f4;
    }

.navbar:hover {
    opacity: 1;
}

.navbar:not(.active) {
    color: white;
}

header .item-button a {
    background-color: deeppink;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: all .5s ease;
    border-radius: 5px;
}

header .menu-item a:hover {
    color: white;
}

header .item-button a:hover {
    background-color: #64d6f4;
}

.item-button .custom-button {
    background-color: deeppink;
    width: 50px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
    border-radius: 5px;
    margin: 17px auto;
    border: none;
    margin-top: 0px;
}

    .item-button .custom-button:hover {
        background-color: #64d6f4;
        color: white;
    }

.bi.bi-plus-circle-fill {
    font-size: 20px;
    color: white;
}

header .mobile-toggler {
    font-size: 30px;
}

.bi.bi-list {
    color: white;
    margin-left: 10px;
}

/* SideBar Menu Modal */
#navbModal .modal-dialog {
    margin: 0;
    width: 430px;
}

@media(max-width: 450px) {

    #navbModal .modal-dialog {
        width: 70%;
    }

    header .navb-name {
        font-size: 20px;
        text-align: center;
    }
}

#navbModal .modal-content {
    border-radius: 0;
    height: 100vh;
    overflow-y: scroll;
    background-color: white;
}

#navbModal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 0 auto;
    padding-bottom: 16px;
    border-bottom: 2px solid #fefefe;
    color: black;
}

    #navbModal .modal-header .title {
        font-size: 25px;
        color: black;
        margin-top: 17.5px;
    }

    #navbModal .modal-header .btn-close {
        background: transparent;
        opacity: 1;
    }

    #navbModal .modal-header i {
        color: black;
        font-size: 30px;
    }

#navbModal .modal-body {
    width: 88%;
    margin: 0 auto;
    padding: 75px 0 0 0;
    flex: unset;
}

    #navbModal .modal-body .modal-line {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 7px 0;
        margin-bottom: 50px;
        cursor: pointer;
        transition: all .5s ease;
        color: #274d8a;
        border-bottom: 1px solid #274d8a;
    }


#navbModal .btn.btn-primary {
    background-color: white;
    text-align: left;
    border: none;
}

    #navbModal .btn.btn-primary:hover {
        background-color: deeppink;
        border: none;
    }


#navbModal .modal-line a {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: black;
}

#navbModal .modal-line i {
    color: currentColor;
    font-size: 30px;
    width: 35px;
    margin-right: 15px;
    padding: 0 0 3px 3px;
}

#navbModal .navb-button {
    width: 100%;
    height: 47px;
    background-color: deeppink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
    transition: all .5s ease;
}

    #navbModal .navb-button:hover {
        background-color: #274d8a;
        color: #fefefe;
    }

#navbModal .mobile-modal-footer {
    width: 87%;
    margin: 0 auto;
    padding: 20% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: #274d8a;
}

    #navbModal .mobile-modal-footer i:hover {
        color: #fefefe;
    }

/* Log History */
#logHistory-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-servicelogs {
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 20px;
    border: 2px solid #888;
    width: 60%;
    text-align: center;
    font-size: 20px;
    max-height: 800px;
    overflow-y: auto;
}

.service_title {
    font-size: 40px;
    margin: auto;
    margin-left: 20px;
}

/* Modal ContentBox  */
#popupTable {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 2px solid #888;
    width: 100%;
}

.service_name {
    font-size: 25px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 20px;
    border-radius: 8px;
    color: black;
    font-size: 14px;
}

    .item:hover {
        background-color: #e7edfe;
    }

.select-menu {
    width: 160px;
}

    .select-menu .select-btn1 {
        display: flex;
        height: 55px;
        background: #fff;
        padding: 20px;
        font-size: 18px;
        font-weight: 400;
        border-radius: 8px;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }

.select-btn1 i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn1 i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: absolute;
    padding: 20px;
    margin-top: -375px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
    width: 160px;
}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

    .options .option:hover {
        background: #F2F2F2;
    }

.option i {
    font-size: 25px;
    margin-right: 12px;
}

.option .option-text {
    font-size: 18px;
    color: #333;
}

/* Service Table */
#serviceTable, #usersTable {
    margin: auto;
    width: 67%;
    margin-top: -40px;
}

#btnDelete {
    background-color: #ff4122;
    color: white;
}

    #btnDelete:hover {
        background-color: #db523b;
    }

.serviceRow {
    width: 40%;
    margin-top: 20px
}

    .serviceRow .btnRow {
        display: flex;
        height: 55px;
        background: #fff;
        padding: 20px;
        font-size: 18px;
        font-weight: 400;
        border-radius: 8px;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }

.btnRow i {
    font-size: 25px;
    transition: 0.3s;
}

.serviceRow.active .btnRow i {
    transform: rotate(-180deg);
}

.serviceRow .optionsRow {
    position: absolute;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
    width: 160px;
}

.serviceRow.active .optionsRow {
    display: block;
}

.optionsRow .optionRow {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

    .optionsRow .optionRow:hover {
        background: #F2F2F2;
    }

.optionRow i {
    font-size: 25px;
    margin-right: 12px;
}

.optionRow .optionRow-text {
    font-size: 18px;
    color: #333;
}

.bi.bi-info-circle {
    margin-right: 10px;
}

.field-icon {
    position: absolute;
    top: 70%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

.bi.bi-eye-fill, .bi.bi-eye-slash-fill {
    font-size: 20px;
}

@media only screen and (max-width:768px), (min-device-width:768px) and (max-device-width:992px) {
    .list-items {
        z-index: 999;
    }

    .table-wrapper .table-title {
        text-align: center;
    }

    .table-title .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }

    .clearfix {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    #serviceTable, #usersTable {
        width: 85%;
        background: transparent;
    }

        #serviceTable table,
        #serviceTable thead,
        #serviceTable tbody,
        #serviceTable th,
        #serviceTable td,
        #serviceTable tr {
            display: block;
        }

            #serviceTable thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

        #serviceTable tr {
            border: 1px solid #ccc;
            margin-bottom: 10px;
        }

        #serviceTable td {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
            text-align: right;
            font-size: 12px;
        }

            #serviceTable td::before {
                position: absolute;
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                font-size: 16px;
                font-weight: 600;
                text-align: left;
            }

            #serviceTable td:nth-of-type(1)::before {
                content: "Service Name";
            }

            #serviceTable td:nth-of-type(2)::before {
                content: "Last Start";
            }

            #serviceTable td:nth-of-type(3)::before {
                content: "Last Log";
            }

            #serviceTable td:nth-of-type(4)::before {
                content: "Status";
            }

            #serviceTable td:nth-of-type(5)::before {
                content: "Action By";
            }

            #serviceTable td:nth-of-type(6)::before {
                content: "Action";
            }

            #serviceTable td:nth-of-type(7)::before {
                content: "Delete";
            }

            /* override color of status name in responsive mode */
            #serviceTable td.status span {
                color: inherit;
            }

    #logHistory-modal {
        width: 100%;
        background: transparent;
    }

    .modal-servicelogs {
        width: 85%;
    }

    .service_title {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
    }

    .select-menu {
        width: 140px;
        height: 50px;
        margin-bottom: 25px;
    }

        .select-menu .sBtn-text {
            font-size: 15px;
        }

        .select-menu .options {
            z-index: 999;
            width: 140px;
        }

    #popupTable table,
    #popupTable thead,
    #popupTable tbody,
    #popupTable th,
    #popupTable td,
    #popupTable tr {
        display: block;
    }

        #popupTable thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    #popupTable tr {
        border: 1px solid #ccc;
        margin-bottom: 0px;
    }

    #popupTable td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: right;
        font-size: 12px;
    }

        #popupTable td::before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            font-size: 16px;
            font-weight: 600;
            text-align: left;
        }

        #popupTable td:nth-of-type(1)::before {
            content: "LAST START";
        }

        #popupTable td:nth-of-type(2)::before {
            content: "LAST LOG";
        }

        #popupTable td:nth-of-type(3)::before {
            content: "STATUS";
        }

        #popupTable td:nth-of-type(4)::before {
            content: "ACTION BY";
        }
}
