@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

/* Login Module */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
}

.gradient-page {
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    height: 100vh;
    overflow: hidden;
    font-family: "Trebuchet MS", sans-serif;
}

hr {
    border: 1px solid black; 
    width: 100%;
}

.btn.btn-secondary {
    background-color: deeppink;
    width: 100%;
    border-radius: 5px;
    border: 2px solid deeppink;
}

    .btn.btn-secondary:hover {
        background-color: #e83596;
        color: white;
        border: 2px solid #e83596;
    }

.btn.btn-primary {
    background-color: deeppink;
    border-radius: 5px;
    width: 100%;
    border: 2px solid deeppink;
}

    .btn.btn-primary:hover {
        background-color: #e83596;
        color: white;
        border: 2px solid #e83596;
    }

.form-control {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
    margin-bottom: 15px;
}

.form-control:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 375px) {
    .card {
        margin: 0;
        border-radius: 0;
    }
}