<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ojtwebsite.local</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>ojtwebsite.local</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>false</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>sa3</UserName>
    <_SavePWD>false</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="dbconnection" Order="1" Enabled="False">
          <Destination Path="Data Source=DESKTOP-UFSVUGM\SERVICEDB;Initial Catalog=ServiceDB;User ID=sa3;Password=1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LoginAndRegisterASPMVC5.Models.DB_Entities, LoginAndRegisterASPMVC5" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="dbconnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-UFSVUGM\SERVICEDB;Initial Catalog=ServiceDB;User ID=sa3;Password=1234</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>