/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
}

.gradient-page {
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    height: 100vh;
    overflow: hidden;
    font-family: "Trebuchet MS", sans-serif;
}

hr {
    border: 1px solid black;
    width: 100%;
}

.form-control :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.form-control:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}


.btn-primary {
    background-color: #0da2ff;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #0da2ff;
}

    .btn-primary:hover {
        background-color: black;
        color: white;
        border: 2px solid black;
    }

.login_link {
    margin: 15px 0;
    text-align: center;
    font-size: 12px;
    color: #666666;
}

    .login_link a {
        color: #2691d9;
        text-decoration: none;
    }

        .login_link a:hover {
            text-decoration: underline;
        }

.bi {
    border: none;
    color: black;
    font-size: 2em;
}

.badge {
    color: red;
}

@media(max-width: 450px) {
    
    .card {
        width: 15rem;
    }
}