.user-button {
    width: 25%;
    padding: 4px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 3px;
    cursor: pointer;
    margin-left: 0px;
    color: black;
    display: inline;
}

    .user-button:hover {
        background-color: deeppink;
    }

.bi.bi-envelope-check-fill, .bi.bi-trash3-fill {
    font-size: 20px;
}